form.form span.comment {
    margin-left: 6px;
    font-size:  0.8em;
    font-style: italic;
}

form.form span.descr {
    font-size:  0.85em;
    font-style: italic;
}

form.form div.field-error {
    font-size:  0.85em;
    color: red;
}

/*
    checkedForm.css
*/

form.form input.rule-mandatory, .field.rule-mandatory, select.rule-mandatory {
    background-color: #f8f0c0;
}
form.form input.invalid, form.form .field.invalid, form.form select.invalid { background-color: #caa !important;}

form.form .form-inner { padding: 4px 8px }

img.ui-datepicker-trigger {
    margin-left:4px;
    height:18px;
}
button.ui-datepicker-trigger img{
    height:14px;
}

span.field {
    margin-right: 6px;
}

input.invalid, .field.invalid { background-color: #caa !important;}
input.mandatory, .field.mandatory, select.mandatory { background-color: #f8f0c0 !important;}
input.ok, .field.ok, select.ok { background-color: #aca !important;}

table.grid tr.hidden {
    display:none;
}
table.grid tr.hidden.error {
    display:table-row;
}
table.grid th {
    vertical-align: top;
}
table.grid td:last-child {
    padding-right:8px;
}

form.form td input.rule-mandatory[readonly] {
    background-color: #bab28f;
    box-shadow: none;
    color: #353;
    border: none;
}

form.form select[readonly], form.form textarea[readonly], form.form input[readonly] {
    background-color: #ddd;
    box-shadow: none;
    color: #335;
    border: none;
}

form.form span.radiolabel {
    margin-right: 4px;
}

form.form input[disabled], form.form select[disabled], form.form textarea[disabled] {
    background-color: #ccc;
    color: #444;
    box-shadow: none;
    border: none;
}
